
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/logo.png"  style="width: 50px; height: 50px;">
    </a>
    <h3>{{'demo.title' | translate}}</h3>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light" routerLink="/movies" mdbWavesEffect><h3 style="color: black">{{'demo.movies' | translate}}</h3><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link waves-light"  routerLink="/watchlist" mdbWavesEffect><h3 style="color: black">{{'demo.watchlist' | translate}}</h3></a>
          </li>
      </ul>
      <!-- Links on the right-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/movies','search']"><h3 style="color: black"><mdb-icon fas icon="search"></mdb-icon> {{'demo.search' | translate}} </h3></a>
        </li>
      </ul>

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->