<form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
  <div class="md-form form-group mt-5" style="margin-bottom: 6% !important">
    <label for="movieTitle">Movie Title:</label> 
    <input mdbInput mdbValidate class="form-control" type="text" id="movieTitle" formControlName="movieTitle">
    <mdb-error
     *ngIf="addMovieForm.get('movieTitle').invalid && (addMovieForm.get('movieTitle').dirty || addMovieForm.get('movieTitle').touched)"
     >Please enter a valid title!</mdb-error>
  </div>
  <div class="md-form form-group mt-5" style="margin-bottom: 6% !important">
    <label for="movieYear">Movie Year: </label>
    <input mdbInput mdbValidate class="form-control" type="number" id="movieYear" formControlName="movieYear">
    <mdb-error
     *ngIf="addMovieForm.get('movieYear').invalid && (addMovieForm.get('movieYear').dirty || addMovieForm.get('movieYear').touched)"
     >Please enter a valid Year!</mdb-error>
  </div>
  <div class="md-form form-group mt-5" style="margin-bottom: 6% !important">
    <label for="movieGenre">Movie Genre: </label>
    <input mdbInput mdbValidate class="form-control" type="text" id="movieGenre" formControlName="movieGenre">
    <mdb-error
     *ngIf="addMovieForm.get('movieGenre').invalid && (addMovieForm.get('movieGenre').dirty || addMovieForm.get('movieGenre').touched)"
     >Please enter a valid Genre!</mdb-error>
  </div>
  <div class="md-form form-group mt-5" style="margin-bottom: 6% !important">
      <label for="posterUrl">Poster URL: </label>
      <input mdbInput mdbValidate class="form-control" type="text" id="posterUrl" formControlName="posterUrl">
      <mdb-error
      *ngIf="addMovieForm.get('posterUrl').invalid && (addMovieForm.get('posterUrl').dirty || addMovieForm.get('posterUrl').touched)"
      >Please enter a valid URL!</mdb-error>
    </div>
  <div class="md-form form-group mt-5" style="margin-bottom: 6% !important">
    <label for="moviePlot">Movie Plot:</label>
    <textarea mdbInput mdbValidate length="120" mdbCharCounter class="md-textarea form-control" id="moviePlot" rows="2" formControlName="moviePlot"></textarea>
    <mdb-error
     *ngIf="addMovieForm.get('moviePlot').invalid && (addMovieForm.get('moviePlot').dirty || addMovieForm.get('moviePlot').touched)"
     >Please enter a valid Plot!</mdb-error>
  </div>
  <button style="margin-top: 1.5%" type="submit" class="btn btn-primary" [disabled]="!addMovieForm.valid">Submit</button>
</form>