<div class="row">
    <div class="col-xs-9">
      <h1  [ngClass]="{'pull-right': lang === 'ar'}">{{'demo.listofmovies' | translate}}</h1>
    </div>
    <div class="col-xs-3">
      <a
        role="button"
        class="btn btn-success"
        [routerLink]="['/movies','new']"><h5>{{'demo.addmovie' | translate}}</h5></a>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group list-group-flush">
      <app-movie-item
      *ngFor="let movieEl of movies"
      [movie]="movieEl"></app-movie-item>
    </div>
  </div>
</div>
<hr>