<div class="row">
    <div class="col-xs-12">
        <h4>Watch List:</h4>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <a href="#"
      class="list-group-item clearfix"
      *ngFor="let movie of movies">

        <div class="pull-left">
          <h4>{{movie.title}} ({{movie.year}})</h4>
        </div>
        <span class="pull-right">
            <button class="btn btn-danger">
              Remove from Watch List
            </button>
        </span>
      </a>

  </div>
</div>
