<div class="row">
    <div class="col-xs-12">
        <h4>{{'demo.watchlist' | translate}}:</h4>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group list-group-flush">
      <a
      [routerLink]="['/movies',movie.id]"
      routerLinkActive="active"
      class="list-group-item list-group-item-action waves-light"
      *ngFor="let movie of watchlistMovies">

        <div class="pull-left">
          <h4>{{movie.title}} ({{movie.year}})</h4>
        </div>
        <span class="pull-right">
            <button class="btn btn-danger" (click)="remove(movie)" type="button">
              {{'demo.removeFromWatchlist' | translate}}
            </button>
        </span>
      </a>      
    </div>
  </div>
</div>
<hr>
